.bcslide-tab-panel .components-tab-panel__tabs-item{
  flex: 1 1 0px;
}

.dashicons, .dashicons-before:before{
  vertical-align: text-top;
}
.components-focal-point-picker{
  border: 1px solid #fff;
}
.drag_modal_background{
  background-color: transparent !important;
  box-shadow:none !important;
}
.drag_modal_opacity{
  opacity: 0;
}
.carousel-inner,
.carousel-item{
    height: 100%;
}
.carousel-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .carousel-item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-overlay{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    margin: 0;
    max-width: none;
  }
  .carousel-inner .carousel-caption{
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    padding: 0;
    text-align: inherit;
    background:transparent;
    z-index: 2;
  }
  .carousel .container.container-carousel-caption {
    padding: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 2;
}

.carousel-control-next, .carousel-control-prev{
    z-index: 3 !important;
  }

.carousel-indicators.circle li{
  width: 12px;
  height: 12px;
  border-radius: 100%;
}